
.sprite-ai {
    display: inline-block;
    background: url("../img/sprites-ai.png") no-repeat 0 0;
    height: 97px;
    width: 100px;
}

.sprite-ai:hover {
    background-position: 0 -102px;
}


.sprite-ps {
    display: inline-block;
    background: url("../img/sprites-ps.png") no-repeat 0 0;
    height: 97px;
    width: 100px;
}

.sprite-ps:hover {
    background-position: 0 -102px;
}


.sprite-id {
    display: inline-block;
    background: url("../img/sprites-id.png") no-repeat 0 0;
    height: 97px;
    width: 100px;
}

.sprite-id:hover {
    background-position: 0 -102px;
}

.sprite-ae {
    display: inline-block;
    background: url("../img/sprites-ae.png") no-repeat 0 0;
    height: 97px;
    width: 100px;
}

.sprite-ae:hover {
    background-position: 0 -102px;
}

.sprite-gh {
    display: inline-block;
    background: url("../img/sprites-gh.png") no-repeat 0 0;
    height: 97px;
    width: 100px;
}

.sprite-gh:hover {
    background-position: 0 -102px;
}

.sprite-sketch {
    display: inline-block;
    background: url("../img/sprites-sketch.png") no-repeat 0 0;
    height: 98px;
    width: 100px;
}

.sprite-sketch:hover {
    background-position: 0 -101px;
}

.sprite-bc {
    display: inline-block;
    background: url("../img/sprites-bc.png") no-repeat 0 0;
    height: 97px;
    width: 100px;
}

.sprite-bc:hover {
    background-position: 0 -102px;
}

.sprite-brackets {
    display: inline-block;
    background: url("../img/sprites-brackets.png") no-repeat 0 0;
    height: 99px;
    width: 100px;
}

.sprite-brackets:hover {
    background-position: 0 -98px;
}



