@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font: normal 100%/1.3 'Oxygen', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
    margin: 0 0 1.3rem;
}

a {
    text-decoration: none;
}


.hero-title {
    color: ffff;
    font-size: 1.75em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-bottom: 0.375em;
    margin-bottom: 0;
}

.hero-tag {
    font-weight: 100;
    font-style: italic;
    font-size: .75em;
    letter-spacing: 0.05em;
}

ul, ol, p {
    margin: 0 0 1.3rem;
}

.flex {
    width: 100%;
    display: block;
}

.island-flex {
    padding: 0;
    margin: 0;
}

.nav-wrapper {
    display: none;
}

.hero {
    background-color: black;
    text-align: center;
    max-height: 75vh;
    position: relative;
    overflow: hidden;
    background: 
            linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
        ),
        no-repeat center bottom / 100% 80%,
        url("http://placehold.it/1200x1125") no-repeat center top;
    background-size: cover;
    padding-top: 56.25%;
}

.hero-content {
    top: 0;
    margin-top: 5%;
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
}

.name {
    padding: 0 1rem;
    color: white;
    top: 20%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: bold;
    line-height: 1;
}

.btn-top-wrapper {
    position: fixed;
    right: 0;
    top: 75%;
}

.btn-top {
}

.btn-cta {
    margin-bottom: 2rem;
    margin-top: 0.5em;
    border: 2px solid white;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 4rem;
    text-decoration: none; 
    display:inline-block;
    font-weight: lighter; 
    color: #FFFFFF;
    background-color: transparent; 
    letter-spacing: 1.5px;
}

.btn-cta:hover {
    background-color: rgba(255,255,255,0.1); 
}

.btn-transparent {
    margin: 2rem;
    border:1px solid white;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 4rem;
    text-decoration: none; 
    display:inline-block;
    font-weight: lighter; 
    color: #FFFFFF;
    background-color: transparent; 
    letter-spacing: 2px;
}

.btn-transparent:hover {
    background-color: rgba(255,255,255,0.1); 
}

.btn-gold {
    font-size: 1rem;
    padding: 1.25rem 1.5rem;
    text-decoration: none; 
    display: block;
    color: #FFFFFF;
    background-color: #dfb45c; 
    text-align: center;
    margin: 2em auto 0 auto;
    letter-spacing: 1px;
    font-weight: thin;
    max-width: 25em;
    font-weight: lighter;
}

.btn-gold:hover {
    color: white;
    background-color: #C9A253; 
}

.btn-gold-footer {
    font-size: 1.25rem;
    padding: 3rem;
    text-decoration: none; 
    display:inline-block;
    color: #FFFFFF;
    background-color: #dfb45c; 
    text-align: center;
    margin: 0 auto;
    letter-spacing: 2px;
    font-weight: thin;
    width: 100%;
    text-transform: uppercase;
}

.btn-gold-footer:hover {
    color: black;
    background-color: #C9A253; 
    font-weight: bold;
}

.centered {
    text-align: center;
    margin: 0 auto;
}

.body-ctr-flex {
    text-align: center;
    margin: 3rem 1.5rem;
    font-size: .75rem;
    line-height: 1.5;
}

.wrapper-margin {
    margin: 0 5%;
}

.body-ctr {
    width: 100%;
    text-align: center;
    padding: 0 2em;
    font-size: 1rem;
    line-height: 1.5;
}

.deck-flex {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 0 0 0;
    font-weight: lighter;
}

.deck2-flex {
    text-align: center;
    font-weight: 300;
    font-size: 1.125em;
    padding: 0 2rem;
    color: grey;
    line-height: 1.5rem;
}

.body-flex {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 2rem;
}

.quote {
    text-align: center;
    margin: 3rem 25%;
    font-style: italic;  
}


.quote-mark {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.headline {
    font-weight: bold;
    text-align: left;
    font-size: 1.125rem;
    letter-spacing: 1px;
}

.section-header {
    border-bottom: 2px solid #dfb45c;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 2em 2em 2em;
    width: 50%;
    margin: 2rem auto 2rem auto;
    font-size: 1.125rem;
    letter-spacing: 1px;
}

.section-header-footer {
    border-bottom: 2px solid #dfb45c;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 2em 2em 2em;
    width: 50%;
    margin: 1rem auto 1rem auto;
    font-size: 1.125rem;
    letter-spacing: 1px;
}

.exp-box {
    border: 1px solid #E6E6E6;
    float: left;
    display: inline-block;
    box-shadow: 2px 2px 2px #EAEAEA;
    width: 100%;
}

.exp-box a {
    text-decoration: none;
    color: black;
}

.exp-box a p {
    padding-top: 2rem;
    height: 12rem;
}

.exp-box:hover {
    border: 1px solid #F0F0F0;
    box-shadow: 0px 0px 0px white;
}

.exp-box:active figcaption {
    position: relative;
    top: 1px;
    color: grey;
}

.exp-box:active {
    border: 1px solid #F0F0F0;
    background-image:
        linear-gradient(to right, rgba(0,0,0,.1) 0, transparent 10px),
        linear-gradient(to bottom, rgba(0,0,0,.1) 0, transparent 10px)
    ;
}

.exp-box img {
    width: 100%;
}

.exp-box figcaption {
    padding: 4rem 0;
}

.exp-box-text a {
    text-decoration: none;
    color: black;
}

.grey {
 color: #858585;
}


.white {
    color: white;
}

.black-ground {
    background-color: black;
}

.gold-ground {
    background-color: #dfb45c;
}

.portfolio-buckets {
    overflow: hidden;
    width: 100%;
}

.bg-img {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
        ),
        url("http://placehold.it/1200x800") no-repeat center top
        ;
    background-size: cover;
    overflow: hidden;
    text-align: center;
}

.pf-box {
    width: 100%;
}

.portfolio-parent {
    display: block;
    text-align: center;
    position: relative;
}

.portfolio-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 1rem;
    display: block;
    background-color: #333333;
    color: #dfb45c;
}

.description {
    margin-bottom: .5rem;
    font-size: 1.25em; 
    font-weight: lighter;
    letter-spacing: .5px;
    padding-bottom: .75rem;
    border-bottom: 1px solid #C9A253;
    width: 60%;
    text-align: center;
    display: inline-block;
    color: white;
}

.classification {
    font-size: .8em;
    padding-top: 1em;
    letter-spacing: 1px;
    font-weight: lighter;
}

.grey-ground {
    background-color: #4D4D4D;
    padding: 2rem;
}

.white-ground {
    background-color: white;
}

.pf-1 {
    width: 100%;
}

.pf-2 {
    width: 100%;
}

.pf-text {
    width: 100%;
}

.project-title {
    text-align: center;
    margin-top: 2em;
}

.breadcrumb-back {
    width: 100%;
    background-color: red;
    color: white;
    height: 6rem;
    padding: 1rem;
    display: block;
    text-align: left;
    padding-left: 20%;
    padding-top: 1.5rem;
}

.breadcrumb-back:hover {
    background-color: #E60000;
}

.breadcrumb-back:active{
    background-color: #CC0000;
}

.breadcrumb-fwd {
    width: 100%;
    background-color: gold;
    color: black;
    height: 6rem;
    display: block;
    float: right;
    text-align: right;
    padding-right: 20%;
    padding-top: 1.5rem;
}

.hint-crumb {
    font-size: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.name-crumb {
    font-size: 1.25rem;
    padding-top: 0; 
}

.client-name {
    color: grey;
    font-weight: lighter;
    font-size: 1.5rem;
}

.w100 {
    width: 100%;
}

.header-flex {
    font-size: 1.25rem;
    text-align: center;
}

.col-flex {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0;
}

.margins {
    width: 80%;
}

/* this is s size */
@media only screen and (min-width: 25em) {
    
    .hero-title {
        margin-top: 8%;
    }

    .island-flex {
        padding: 1rem 0.5rem 0.5rem 1rem;
    }
    
    .deck-flex {
        text-align: left;
        font-size: 1.75rem;
        padding: 2rem 0 0 2rem;
    }

    .deck2-flex {
        text-align: left;
        font-weight: 300;
        padding: 0 2rem;
        line-height: 1.5rem;
    }

    .body-flex {
        text-align: left;
        font-size: 1rem;
        line-height: 1.5;
        padding: 0 2rem;
    }
    
        
    .flex {
        margin-left: 0;
    }
    
}


/* this is m size */
@media only screen and (min-width: 38em) {

    .body-ctr {
    padding: 0 10%;
    }
    
    .section-header {
        width: 30%;
        margin: 4rem auto 2.8rem auto;
    }
    
    .hero-content {
    margin-top: 10%;
    }
    
    
    .hero-title {
        font-size: 2.75em;
        margin-top: 2%;

    }

    .hero-tag {
        font-size: 1.0125em;
        margin-top: 1.25em;

    }
    
    .btn-cta {
        margin-top: 1.25em;
    }

    
    .body-ctr-flex {
        margin: 3rem 15%;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .nav-wrapper {
        display: block;
        width: 100%;
        margin: 0 auto;
        top: 0;
    }
    
    nav {
        position: fixed;
        z-index: 100;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        padding: 0;
        margin: 0 auto;
}
    
    nav ul {
        margin: 0 auto;
        height: 50px;
    }
    
    nav ul img {
        margin: 0 -40px;
        width: 20px;
    }
    
    .logo {
        display: inline-block;
        width: 30px;
        float: left;
        position: absolute;
        top: 10px;
}
    
    nav li {
        list-style-type: none;
        display: inline-block;
        margin: 10px 40px;
    }
    
  
    nav a:hover {
        color: #C9A253;
    }
    
    nav a:active {
        color: #8D713A;
    }
    
    .current {
        color: #C9A253;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-size: .25rem;
        letter-spacing: 1px;
    }   
    
    .portfolio-text {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding-top: 1rem;
        display: block;
        background-color: #333333;
        color: #dfb45c;
    }
    
        .flex {
        margin-left: 2rem;
    }

    
}


/* this is l size */
@media only screen and (min-width: 60em) {
    
    .name {
    font-size: 8rem;
    }

    .section-header {
    width: 25%;
    }
    
    .body-flex {
        font-size: 1.25rem;
        line-height: 1.75;
        width: 80%;
    }
    
    .deck-flex {
        font-size: 2.25rem;
        line-height: 3rem;
    }

    .deck2-flex {
        font-size: 1.75em;
        line-height: 3rem;
    }
    
    .body-ctr-flex {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .body-ctr {
        font-size: 1.25rem;
        line-height: 2rem;
        padding: 0 20%;
}
    
    .hero-title {
        font-size: 4rem;
    }

    .hero-tag {
        font-size: 2rem;
    }
    
    .section-header {
        font-size: 1.125rem;
    }

    .section-header-footer {
        font-size: 1.125rem;
    }
    
    .btn-gold {
        font-size: 1.5rem;
        padding: 1.5rem 1.75rem;
    }

    .btn-cta {
        font-size: 1.5rem;
        padding: 1.5rem 4rem;
}
    
    .header-flex {
        text-align: left;
}

    .col-flex {
        text-align: left;
    }
    
}

/* this is xl size */
@media only screen and (min-width: 80em) {

}

/* this is xxl size */
@media only screen and (min-width: 100em) {
    .portfolio-text {
        display: none;
    }
    
    .portfolio-parent:hover .portfolio-text {
        position: absolute;
        top: 0;
        padding-top: 42%;
        display: block;
        width: 100%;
        height: 99%;
        text-align: center;
        color: #dfb45c;
        background-color: rgba(0, 0, 0, .65);
        -webkit-animation: appear .25s ease-in-out forwards;
        animation: appear .25s ease-in-out forwards;
    }

    @-webkit-keyframes appear {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes appear {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .portfolio-parent:hover .portfolio-text span {
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0;
        right: 0;
        text-align: center;
    }
    
    
}
    
