---
layout: default
---
<h1>Portfolio Buckets</h1>

        <ul>
            {% for project in site.posts %}
            <li>
                <a href="">{{project.title}}</a>
                <p>{{project.meta}}</p>
            </li>
            {% endfor %}
        </ul>


                {% for project in site.posts %}
                <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3 island-flex">
                    <ul>
                        <li class="portfolio-parent">
                            <a href="{{site.baseurl}}/project1.html">
                                <img class="pf-box" src="http://placehold.it/480x480" alt=""> 
                                <p class="portfolio-text"><span class="description">{{project.title}}</span><span class="classification">{{project.category}}</span></p>
                            </a>
                        </li>
                    </ul>
                </div>
                {% endfor %}