.container {
    position: absolute;
    top: 10%;
    left: 40%;
}

.face {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.square {
    position: relative;
    width: 100px;
    height: 100px;
    background: #EE2307;
}

.eye1 {
    position: absolute;
    left: 10px;
    top: 30px;
    width: 30px;
    height: 30px;
    -moz-border-radius: 55px;
	-webkit-border-radius: 55px;
	border-radius: 55px;
    background: white;
}

.eye2 {
    position: absolute;
    right: 10px;
    top: 30px;
    width: 30px;
    height: 30px;
    -moz-border-radius: 55px;
	-webkit-border-radius: 55px;
	border-radius: 55px;
    background: white;
}

.iris1 {
    position: absolute;
    left: 20px;
    top: 40px;
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    background: grey;
    -webkit-animation: scan-r 5s ease-in-out infinite;
    animation: scan-r 5s ease-in-out infinite;
}

@-webkit-keyframes scan-r {
    0% {
        left: 70px;
    }
    
    40% {
        left: 75px;
    }
    
    80% {
        left: 65px;
    }
    
    100% {
        left: 70px;
    }
}

@keyframes scan-r {
    0% {
        left: 70px;
    }
    
    40% {
        left: 75px;
    }
    
    80% {
        left: 65px;
    }
    
    100% {
        left: 70px;
    }
}

.iris2 {
    position: absolute;
    right: 20px;
    top: 40px;
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    background: grey;
    -webkit-animation: scan-l 5s ease-in-out infinite;
    animation: scan-l 5s ease-in-out infinite;
}

@-webkit-keyframes scan-l {
    0% {
        right: 70px;
    }
    
    40% {
        right: 65px;
    }
    
    80% {
        right: 75px;
    }
    
    100% {
        right: 70px;
    }
}

@keyframes scan-l {
    0% {
        right: 70px;
    }
    
    40% {
        right: 65px;
    }
    
    80% {
        right: 75px;
    }
    
    100% {
        right: 70px;
    }
}