---
layout: default
---

<h1 class="project-title">{{ project-title }}</h1>
<h3 class="centered client-name">{{ subtitle }}</h3>


<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 centered island-mega">
        <h2 class="zetta">{{ page.client }}</h2>
        <h3 class="gold">{{ page.client-summary }}</h3>
        <h3 class="body grey">{{ page.client-about }}</h3>
    </div>
</div>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 island-2">
        <h2 class="zetta underline">Project Goals</h2>
        <h3 class="grey">{{ page.goal-summary }}</h3>
        <p class="body pad-t-flex">{{ page.goal }}</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 island-2">
        <h2 class="zetta underline">My Role</h2>
        <h3 class="grey">{{ page.role-summary }}</h3>
        <p class="body pad-t-flex">{{ page.role }}</p>
    </div>   
</div>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
        <img class="full-bleed" src="{{site.baseurl}}/img/{{page.img-2}}" alt="{{page.img-2-alt}}">
    </div>
</div>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 island-2">
        <h2 class="zetta underline">Workflow</h2>
        <h3 class="grey">{{ page.workflow-summary }}</h3>
        <p class="body pad-t-flex">{{ page.workflow }}</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 island-2">
        <h2 class="zetta underline">Design Process</h2>
        <h3 class="grey">{{ page.process-summary }}</h3>
        <p class="body pad-t-flex">{{ page.process }}</p>
    </div>
</div>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
        <img class="full-bleed" src="{{site.baseurl}}/img/{{page.img-3}}" alt="{{page.img-3-alt}}">
    </div>
</div>
  
<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 island-2">
        <h2 class="zetta underline">Key Challenges</h2>
        <h3 class="grey">{{ page.challenge-summary }}</h3>
        <p class="body pad-t-flex">{{ page.challenge }}</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 island-2">
        <h2 class="zetta underline">Design Solution</h2>
        <h3 class="grey">{{ page.solution-summary }}</h3>
        <p class="body pad-t-flex">{{ page.solution }}</p>
    </div>
</div>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
        <img class="full-bleed" src="{{site.baseurl}}/img/{{page.img-4}}" alt="{{page.img-4-alt}}">
    </div>
</div>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 island-2">
        <h2 class="zetta underline">Bonus Bits</h2>
        <h3 class="grey">{{ page.bonus-summary }}</h3>
        <p class="body pad-t-flex">{{ page.bonus }}</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 island-2">
        <h2 class="zetta underline">Learning Points</h2>
        <h3 class="grey">{{ page.learning-summary }}</h3>
        <p class="body pad-t-flex">{{ page.learning }}</p>
    </div>
</div>

<div class="grid">
    <div class="unit unit-xs-1">
        <img class="full-bleed" src="{{site.baseurl}}/img/{{page.img-5}}" alt="{{page.img-5-alt}}">
    </div>
</div>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 centered island-mega">
        <h2 class="zetta underline">Onwards March!</h2>
        <h3 class="grey">{{ page.outcomes-summary }}</h3>
        <p class="body pad-t-flex">{{ page.outcomes }}</p>
    </div>
</div>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
            <a class="breadcrumb-back" href="{{site.baseurl}}/{{index.html #portfolio}}">
                <p class="hint-crumb">Back</p>
                <p class="name-crumb">Portfolio Overview</p>
            </a>
    </div>
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
        <a class="breadcrumb-fwd" href="{{site.baseurl}}/{{project2.html}}">
            <p class="hint-crumb">Next</p>
            <p class="name-crumb">Project 2 Name</p>
            </a>
    </div>
</div>