---
layout: default
---

<h1 class="project-title">Project Title</h1>
<h3 class="centered client-name">Client | Company Name Here</h3>

<h2 class="section-header">Project Overview</h2>
<p class="body-ctr">This is a space for some background information on the project, to be drawn from the project markdown file. This is the project background with some additional information on the client perhaps and the scope of the project.</p>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 island-2">
        <h3 class="header-flex">The Client</h3>
        <p class="col-flex">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a placerat lorem, vitae mattis arcu. Aenean ornare ullamcorper quam. Pellentesque erat velit, accumsan sed neque non, dignissim venenatis nisl. Sed viverra efficitur tortor et pharetra. Duis posuere mi dui.</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 island-2">
        <h3 class="header-flex">My Role</h3>
        <p class="col-flex">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a placerat lorem, vitae mattis arcu. Aenean ornare ullamcorper quam. Pellentesque erat velit, accumsan sed neque non, dignissim venenatis nisl. Sed viverra efficitur tortor et pharetra. Duis posuere mi dui.</p>
    </div>

    <img class="w100" src="http://placehold.it/1200x640" alt="" class="centered">  
</div>

<div class="island push-2">
    <h2 class="section-header">Design Challenge</h2>
    <p class="body-ctr">This is a space for some background information on the project, to be drawn from the project markdown file. This is the project background with some additional information on the client perhaps and the scope of the project.</p>
    <p class="body-ctr">This is a space for some background information on the project, to be drawn from the project markdown file. This is the project background with some additional information on the client perhaps and the scope of the project and some extra words.</p>
    </div>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
        <img class="w100" src="http://placehold.it/480x480" alt="">
    </div>
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
        <h2 class="headline">Workflow</h2>
        <p class="body-flex">This is a space for some background information on the project, to be drawn from the project markdown file. This is the project background with some additional information on the client perhaps and the scope of the project.</p>
    </div>
</div>

<div class="island push-2">
    <h2 class="section-header">Project Outcomes</h2>
    <p class="body-ctr">This is a space for some background information on the project, to be drawn from the project markdown file. This is the project background with some additional information on the client perhaps and the scope of the project.</p>
    <p class="body-ctr">This is a space for some background information on the project, to be drawn from the project markdown file. This is the project background with some additional information on the client perhaps and the scope of the project and some extra words.</p>
    </div>


<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
            <a class="breadcrumb-back" href="{{site.baseurl}}/{{index.html #portfolio}}">
                <p class="hint-crumb">Back</p>
                <p class="name-crumb">Portfolio Overview</p>
            </a>
    </div>
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
        <a class="breadcrumb-fwd" href="{{site.baseurl}}/{{project2.html}}">
            <p class="hint-crumb">Next</p>
            <p class="name-crumb">Project 2 Name</p>
            </a>
    </div>
</div>