---
layout: default
---

<h1 class="project-title">{{ project-title }}</h1>
<h3 class="centered client-name">{{ subtitle }}</h3>


<div class="grid body-wrapper pad-t-1-2 pad-b-1-2">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 gutter center-flex">
        <h2 class="zetta push-1-2">{{ page.client }}</h2>
        <h3 class="gold">{{ page.client-summary }}</h3>
        <h4 class="deck grey body">{{ page.client-about }}</h4>
    </div>
</div>

<div class="grid body-wrapper pad-t-1-2 pad-b-1-2">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 gutter">
        <h2 class="peta underline">Project Goals</h2>
        <h3 class="grey mega">{{ page.goal-summary }}</h3>
        <p class="body push-2">{{ page.goal }}</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 gutter">
        <h2 class="peta underline">My Role</h2>
        <h3 class="grey">{{ page.role-summary }}</h3>
        <p class="body push-2">{{ page.role }}</p>
    </div>   
</div>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 push-2">
        <img class="full-bleed" src="{{site.baseurl}}/img/{{page.img-2}}" alt="{{page.img-2-alt}}">
    </div>
</div>

<div class="grid body-wrapper pad-t-1-2 pad-b-1-2">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 gutter">
        <h2 class="peta underline">Workflow</h2>
        <h3 class="grey mega">{{ page.workflow-summary }}</h3>
        <p class="body push-2">{{ page.workflow }}</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 gutter">
        <h2 class="peta underline">Design Process</h2>
        <h3 class="grey mega">{{ page.process-summary }}</h3>
        <p class="body push-2">{{ page.process }}</p>
    </div>
</div>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 push-2">
        <img class="full-bleed" src="{{site.baseurl}}/img/{{page.img-3}}" alt="{{page.img-3-alt}}">
    </div>
</div>
  
<div class="grid body-wrapper pad-t-1-2 pad-b-1-2">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 gutter">
        <h2 class="peta underline">Key Challenges</h2>
        <h3 class="grey mega">{{ page.challenge-summary }}</h3>
        <p class="body push-2x">{{ page.challenge }}</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 gutter">
        <h2 class="peta underline">Design Solution</h2>
        <h3 class="grey">{{ page.solution-summary }}</h3>
        <p class="body push-2">{{ page.solution }}</p>
    </div>
</div>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 push-2">
        <img class="full-bleed" src="{{site.baseurl}}/img/{{page.img-4}}" alt="{{page.img-4-alt}}">
    </div>
</div>

<div class="grid body-wrapper pad-t-1-2 pad-b-1-2">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 gutter">
        <h2 class="peta underline">Bonus Bits</h2>
        <h3 class="grey mega">{{ page.bonus-summary }}</h3>
        <p class="body push-2">{{ page.bonus }}</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 gutter">
        <h2 class="peta underline">Learning Points</h2>
        <h3 class="grey mega">{{ page.learning-summary }}</h3>
        <p class="body push-2">{{ page.learning }}</p>
    </div>
</div>

<div class="grid">
    <div class="unit unit-xs-1 push-2">
        <img class="full-bleed" src="{{site.baseurl}}/img/{{page.img-5}}" alt="{{page.img-5-alt}}">
    </div>
</div>

<div class="grid body-wrapper pad-t-1-2 pad-b-1-2 deck">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 gutter center-flex">
        <h2 class="peta underline">Onwards March!</h2>
        <h3 class="grey mega">{{ page.outcomes-summary }}</h3>
        <p class="body push-2">{{ page.outcomes }}</p>
    </div>
</div>

<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
            <a class="breadcrumb-back" href="{{site.baseurl}}/#portfolio">
                <p class="hint-crumb">Back</p>
                <p class="name-crumb">Portfolio Overview</p>
            </a>
    </div>
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
        <a class="breadcrumb-fwd" href="{{site.baseurl}}/{{ page.next-piece }}">
            <p class="hint-crumb">Next</p>
            <p class="name-crumb">{{page.next-piece-title}}</p>
            </a>
    </div>
</div>