<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Vivienne Kay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href="vk-favicon.ico" rel="shortcut icon">
</head>
<body>
        
<header class="hero">
    <div class="nav-wrapper">
        <img class="logo" src="http://placehold.it/100x100" alt="">
        <nav>
            <ul>
                <li class="nav-link"><a class="{% if page.url == '/index.html'%}current{% endif %}" href="{{site.baseurl}}/index.html">[LOGO]</a></li>
                <li class="nav-link"><a class="{% if page.url == '/index.html#about'%}current{% endif %}" href="{{site.baseurl}}/index.html#about">ABOUT</a></li>
                <li class="nav-link"><a class="{% if page.url == '/index.html#portfolio'%}current{% endif %}" href="{{site.baseurl}}/index.html#portfolio">PORTFOLIO</a></li>
                <li class="nav-link"><a href="{{site.baseurl}}/index.html#process">PROCESS</a></li>
                <li class="nav-link"><a href="{{site.baseurl}}/index.html#experience">EXPERIENCE</a></li>
                <li class="nav-link"><a href="{{site.baseurl}}/index.html#toolbelt">TOOLBELT</a></li>
                <li class="nav-link"><a href="{{site.baseurl}}/index.html#contact">CONTACT</a></li>
                <li class="nav-link"><a href="https://viviennekay.wordpress.com/">DESIGN BLOG</a></li>
            </ul>
        </nav>
    </div>   
</header>
    
{{content}}
    
</body>
</html>